In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('weather_by_cities.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          12 non-null     object
 1   city         12 non-null     object
 2   temperature  12 non-null     int64
 3   windspeed    12 non-null     int64
 4   event        12 non-null     object
dtypes: int64(2), object(3)
memory usage: 608.0+ bytes

Part A

In [3]:
df.groupby('city')['temperature'].mean()

city
mumbai      88.50
new york    32.25
paris       47.75
Name: temperature, dtype: float64

Part B

In [4]:
df["day"].fillna(method = "ffill")

0     1/1/2017
1     1/2/2017
2     1/3/2017
3     1/4/2017
4     1/1/2017
5     1/2/2017
6     1/3/2017
7     1/4/2017
8     1/1/2017
9     1/2/2017
10    1/3/2017
11    1/4/2017
Name: day, dtype: object

Part C

In [5]:
import datetime as dt
df['day'] = pd.to_datetime(df['day']).dt.strftime('%d-%m-%y')
df.head()

        day      city  temperature  windspeed  event
0  01-01-17  new york           32          6   Rain
1  02-01-17  new york           36          7  Sunny
2  03-01-17  new york           28         12   Snow
3  04-01-17  new york           33          7  Sunny
4  01-01-17    mumbai           90          5  Sunny

Part D

In [6]:
df_agg = df.groupby(['event']).agg({'temperature' : sum})
result = df_agg['temperature'].groupby(level = 0,group_keys= False)
print(result.nlargest())

event
Cloudy    146
Fog       172
Rain      124
Snow       28
Sunny     204
Name: temperature, dtype: int64

Part E

In [7]:
weather=df.groupby(['event' , pd.cut(df.windspeed,10)])
result= weather.size().unstack()
print(result)

windspeed  (4.985, 6.5]  (6.5, 8.0]  (8.0, 9.5]  (9.5, 11.0]  (11.0, 12.5]  \
event
Cloudy                0           1           0            1             0
Fog                   0           0           0            0             1
Rain                  2           0           0            0             0
Snow                  0           0           0            0             1
Sunny                 1           2           0            0             0

windspeed  (12.5, 14.0]  (14.0, 15.5]  (15.5, 17.0]  (17.0, 18.5]  \
event
Cloudy                1             0             0             0
Fog                   0             1             0             0
Rain                  0             0             0             0
Snow                  0             0             0             0
Sunny                 0             0             0             0

windspeed  (18.5, 20.0]
event
Cloudy                0
Fog                   0
Rain                  0
Snow                  0
Sunny                 1